{% extends "base.html" %}
{% block content %}



<form>

  <input type="radio" id="sol" name="building_name" value="Sol Center">
  <label for="sol">Sol Center</label><br>
  <input type="radio" id="src" name="building_name" value="SRC">
  <label for="src">SRC</label><br>
  <input type="radio" id="oasis" name="building_name" value="Oasis">
  <label for="oasis">Oasis</label><br><br>

  <label for="lname">Building rating between 1 and 5:</label><br>
  <input type="text" id="building_rating" name="building_rating" ><br><br>
  <input type="submit" value="Submit">

</form>

{% endblock %}